################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Osciloscopio_Fonte/Form1-DESKTOP-RCDMD3O-2.cs
/Osciloscopio_Fonte/Form1-DESKTOP-RCDMD3O-3.cs
/Osciloscopio_Fonte/Form1-DESKTOP-RCDMD3O.cs
/Osciloscopio_Fonte/Form1-LAPTOP-58DICK67-2.cs
/Osciloscopio_Fonte/Form1-DESKTOP-RCDMD3O.resx
/Osciloscopio_Fonte/Form1-LAPTOP-58DICK67.cs
/Osciloscopio_Fonte/InputDataProcessor-DESKTOP-RCDMD3O.cs
/Codigo_C_V_Final.txt
/project.zip
